.bundle/
bundle.log
gem.log
.gradle
/local.properties
.DS_Store
/build/*
/captures
*.iml
license.txt
/.idea
native-sdk-demo/.idea
/documentation/developer-guide/
/documentation/node_modules
/documentation/npm-debug.log
/documentation/.self-update-info
keystore.properties
/app-test
/firetv-demo
/firetv-harness
jwplayer-freewheel/
# Custom ProGuard files
proguard-combined.pro
**/proguard-module-base.pro
**/proguard-processed.pro

.android/*
app-test/*
node_modules
fastlane/report.xml
package-lock.json
env/
/apikey.properties
